In [1]:
import openpyxl
import pandas as pd
import os

In [2]:
excelname='raw_data'
sheetname='kd'
wb=openpyxl.load_workbook(str(excelname)+'.xlsx')
ws=wb[str(sheetname)]

In [3]:
dataset=[]
i=1
while(ws.cell(row=i,column=1).value!=None):
    row=[]
    j=1
    while(ws.cell(row=i,column=j).value!=None):
        row.append(ws.cell(row=i,column=j).value)
        j+=1
    dataset.append(row)
    i+=1

In [4]:
trade=[[0 for i in range(16)]for j in range(len(dataset))]
trade[0][0]='date'
trade[0][1]='open'
trade[0][2]='high'
trade[0][3]='low'
trade[0][4]='close'
trade[0][5]='Aroon_up'
trade[0][6]='Aroon_down'
trade[0][7]='Aroon Oscillator'
trade[0][8]='buy'
trade[0][9]='hold'
trade[0][10]='sell'
trade[0][11]='number'
trade[0][12]='value'
trade[0][13]='period_return'
trade[0][14]='holding_period'
trade[0][15]='annual_return'
for i in range(1,len(trade)):
    trade[i][0]=dataset[i][0]
    trade[i][1]=dataset[i][1]
    trade[i][2]=dataset[i][2]
    trade[i][3]=dataset[i][3]
    trade[i][4]=float(dataset[i][4])

In [5]:
### Method 1
## no List
#Aroon Oscillator
aroon_index=25
for i in range(aroon_index+1,len(trade)):
    high=trade[i][2]
    low=trade[i][3]
    high_index=0  #26day 
    low_index=0   #26day
    
    for j in range(0,aroon_index+1):
        if(trade[i-j][2]>high):
            high=trade[i-j][2]
            high_index=j
        if(trade[i-j][3]<low):
            low=trade[i-j][3]
            low_index=j
            
    trade[i][5]=(aroon_index-high_index)/aroon_index*100
    trade[i][6]=(aroon_index-low_index)/aroon_index*100
    trade[i][7]=trade[i][5]-trade[i][6]

In [ ]:
### Method 2
## List
#Aroon_up Aroon_down Aroon Oscillator
aroon_index=25
for i in range(aroon_index+1,len(trade)):
    high=[]
    low=[]
    for j in range(0,aroon_index+1):
        high.append(trade[i-j][2])
        low.append(trade[i-j][3])
        
    high_index=high.index(max(high))
    low_index=low.index(min(low))
    trade[i][5]=100*(aroon_index-high_index)/aroon_index
    trade[i][6]=100*(aroon_index-low_index)/aroon_index
    trade[i][7]=trade[i][5]-trade[i][6]

In [ ]:
### Method 3
## Teacher
#Aroon_up/ Aroon_down & Aroon Oscillator
aroon_index=25
for i in range(aroon_index+1,len(trade)):
    high=-10000
    low=10000
    high_index=0
    low_index=0
    for j in range(0,aroon_index+1):
        if(trade[i-j][2]>high):
            high=trade[i-j][2]
            high_index=0
        if(high>trade[i-j][2]):
            high_index+=1
        if(trade[i-j][3]<low):
            low=trade[i-j][3]
            low_index=0
        if(low<trade[i-j][3]):
            low_index+=1
            
    high_index=aroon_index-high_index
    low_index=aroon_index-low_index
    trade[i][5]=100*(aroon_index-high_index)/aroon_index
    trade[i][6]=100*(aroon_index-low_index)/aroon_index
    trade[i][7]=trade[i][5]-trade[i][6]

In [6]:
for i in range(aroon_index+1,len(trade)):
    if(trade[i][7]>0)and(trade[i-1][9]==0):
        trade[i][8]=1
        trade[i][9]=1
        trade[i][10]=0
    elif(trade[i][7]<0)and(trade[i-1][9]==1):
        trade[i][8]=0
        trade[i][9]=0
        trade[i][10]=1
    elif(trade[i-1][9]>0):
        trade[i][8]=0
        trade[i][9]=1
        trade[i][10]=0
initial=10000
for i in range(aroon_index+1,len(trade)):
    if(trade[i][8]==1)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=initial/trade[i][4]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==0)and(trade[i][10]==1):
        trade[i][11]=0
        trade[i][12]=trade[i-1][11]*trade[i][4]
        trade[i][13]=round((trade[i-1][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=trade[i-1][11]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)

In [7]:
import datetime
from datetime import date
for i in range(1,len(trade)):
    trade[i][0]=datetime.datetime.strptime(trade[i][0],'%Y/%m/%d')

In [8]:
first=0
end=0
for i in range(1,len(trade)):
    if(trade[i][8]==1):
        trade[i][14]=1
        first=trade[i][0]
    elif((trade[i][9]==1)or(trade[i][10]==1)and(trade[i][8]!=1)):
        end=trade[i][0]
        trade[i][14]=(end-first).days+1

In [9]:
for i in range(1,len(trade)):
    if(trade[i][14]!=0):
        trade[i][15]=(1+trade[i][13])**(365/trade[i][14])-1

In [10]:
annual_return=1
trading=0
for i in range(1,len(trade)):
    if(trade[i][10]==1):
        annual_return*=(1+trade[i][13])
        trading+=1
final_return=annual_return**(1/trading)-1

In [11]:
final_return

0.0059474993009254185

In [ ]:
# Save
ws_kd = wb["aroon_result"]
for i in range(0, len(trade)):
    for j in range(0, len(trade[1])):
        ws_kd.cell(row=i+1, column=j+1).value= trade[i][j]
wb.save('raw_data.xlsx')

In [13]:
pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_up,Aroon_down,Aroon Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003-06-30 00:00:00,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003-07-01 00:00:00,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003-07-02 00:00:00,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003-07-03 00:00:00,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0
5,2003-07-04 00:00:00,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0,0,0,0,0
6,2003-07-07 00:00:00,39.6,41,39.6,41,0,0,0,0,0,0,0,0,0,0,0
7,2003-07-08 00:00:00,42,42,40.7,41.19,0,0,0,0,0,0,0,0,0,0,0
8,2003-07-09 00:00:00,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0,0,0,0,0
9,2003-07-10 00:00:00,41.2,41.2,40.05,40.05,0,0,0,0,0,0,0,0,0,0,0
10,2003-07-11 00:00:00,39.6,39.97,39.3,39.91,0,0,0,0,0,0,0,0,0,0,0
11,2003-07-14 00:00:00,39.95,41,39.92,40.66,0,0,0,0,0,0,0,0,0,0,0
12,2003-07-15 00:00:00,40.7,40.86,40.19,40.19,0,0,0,0,0,0,0,0,0,0,0
13,2003-07-16 00:00:00,40.5,40.98,40.24,40.85,0,0,0,0,0,0,0,0,0,0,0
14,2003-07-17 00:00:00,40.5,40.65,39.8,39.8,0,0,0,0,0,0,0,0,0,0,0
15,2003-07-18 00:00:00,39.78,39.98,39.55,39.92,0,0,0,0,0,0,0,0,0,0,0
16,2003-07-21 00:00:00,40,40.25,39.4,39.4,0,0,0,0,0,0,0,0,0,0,0
17,2003-07-22 00:00:00,39.41,39.98,39.41,39.98,0,0,0,0,0,0,0,0,0,0,0
18,2003-07-23 00:00:00,40.3,40.5,40,40.05,0,0,0,0,0,0,0,0,0,0,0
19,2003-07-24 00:00:00,40.2,41.23,40.2,41.23,0,0,0,0,0,0,0,0,0,0,0
20,2003-07-25 00:00:00,41,41.34,40.85,41.23,0,0,0,0,0,0,0,0,0,0,0
21,2003-07-28 00:00:00,41.9,41.94,41.57,41.58,0,0,0,0,0,0,0,0,0,0,0
22,2003-07-29 00:00:00,41.54,41.54,40.83,41.02,0,0,0,0,0,0,0,0,0,0,0
23,2003-07-30 00:00:00,41,41.02,40.55,40.6,0,0,0,0,0,0,0,0,0,0,0
24,2003-07-31 00:00:00,40.66,41,40.44,40.87,0,0,0,0,0,0,0,0,0,0,0
25,2003-08-01 00:00:00,41.28,41.6,41.05,41.6,0,0,0,0,0,0,0,0,0,0,0
26,2003-08-04 00:00:00,41.47,41.55,41.21,41.4,24,0,24,1,1,0,241.546,10000,0,1,0
27,2003-08-05 00:00:00,41.5,41.61,40.5,40.5,20,0,20,0,1,0,241.546,9782.61,-0.0217,2,-0.981755
28,2003-08-06 00:00:00,40.2,40.3,40.06,40.23,16,0,16,0,1,0,241.546,9717.39,-0.0283,3,-0.969585
29,2003-08-07 00:00:00,40.35,40.77,39.97,40.7,12,4,8,0,1,0,241.546,9830.92,-0.0169,4,-0.788875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017-03-15 00:00:00,72.8,73,72.6,72.85,28,4,24,0,1,0,135.318,9857.92,-0.0142,29,-0.164734
3399,2017-03-16 00:00:00,73.3,73.85,73.3,73.8,24,0,24,0,1,0,135.318,9986.47,-0.0014,30,-0.0169008
3400,2017-03-17 00:00:00,73.85,74.1,73.75,74,20,80,-60,0,0,1,0,10013.5,0.0014,31,0.0166088
3401,2017-03-20 00:00:00,73.95,74.15,73.85,73.95,16,76,-60,0,0,0,0,0,0,0,0
3402,2017-03-21 00:00:00,74.3,74.9,74.3,74.9,100,72,28,1,1,0,133.511,10000,0,1,0
3403,2017-03-22 00:00:00,74.25,74.25,74,74.2,96,68,28,0,1,0,133.511,9906.54,-0.0093,2,-0.818262
3404,2017-03-23 00:00:00,74.6,74.65,74.15,74.35,92,64,28,0,1,0,133.511,9926.57,-0.0073,3,-0.589929
3405,2017-03-24 00:00:00,74.35,74.4,74.1,74.25,88,60,28,0,1,0,133.511,9913.22,-0.0087,4,-0.549478
3406,2017-03-27 00:00:00,74,74.4,73.85,74.2,84,56,28,0,1,0,133.511,9906.54,-0.0093,7,-0.385654
3407,2017-03-28 00:00:00,74.55,74.6,73.95,74.25,80,52,28,0,1,0,133.511,9913.22,-0.0087,8,-0.328791
3408,2017-03-29 00:00:00,74.45,74.5,74,74,76,48,28,0,1,0,133.511,9879.84,-0.012,9,-0.387135
3409,2017-03-30 00:00:00,74,74.25,73.9,73.9,72,44,28,0,1,0,133.511,9866.49,-0.0134,10,-0.388846
3410,2017-03-31 00:00:00,73.95,74.1,73.7,73.7,68,40,28,0,1,0,133.511,9839.79,-0.016,11,-0.414449
3411,2017-04-05 00:00:00,73.95,74.8,73.95,74.65,64,36,28,0,1,0,133.511,9966.62,-0.0033,16,-0.0726329
3412,2017-04-06 00:00:00,74.8,74.8,74.3,74.4,60,32,28,0,1,0,133.511,9933.24,-0.0067,17,-0.134404
3413,2017-04-07 00:00:00,74.3,74.3,73.4,74.1,56,28,28,0,1,0,133.511,9893.19,-0.0107,18,-0.195988
3414,2017-04-10 00:00:00,74.1,74.25,74,74.2,52,24,28,0,1,0,133.511,9906.54,-0.0093,21,-0.149898
3415,2017-04-11 00:00:00,74.1,74.4,73.75,73.9,48,20,28,0,1,0,133.511,9866.49,-0.0134,22,-0.200542
3416,2017-04-12 00:00:00,73.9,74.1,73.65,74.05,44,16,28,0,1,0,133.511,9886.52,-0.0113,23,-0.16502
3417,2017-04-13 00:00:00,73.9,74.45,73.9,74.4,40,12,28,0,1,0,133.511,9933.24,-0.0067,24,-0.097186
3418,2017-04-14 00:00:00,73.9,73.9,73.5,73.55,36,8,28,0,1,0,133.511,9819.76,-0.018,25,-0.232943
3419,2017-04-17 00:00:00,73.55,73.8,73.35,73.6,32,4,28,0,1,0,133.511,9826.44,-0.0174,28,-0.204527
3420,2017-04-18 00:00:00,73.85,74,73.5,73.6,28,0,28,0,1,0,133.511,9826.44,-0.0174,29,-0.198225
3421,2017-04-19 00:00:00,73.1,73.25,72.65,72.8,24,0,24,0,1,0,133.511,9719.63,-0.028,30,-0.292153
3422,2017-04-20 00:00:00,72.55,72.9,72.5,72.8,20,100,-80,0,0,1,0,9719.63,-0.028,31,-0.284219
3423,2017-04-21 00:00:00,73.25,73.5,73.1,73.5,16,96,-80,0,0,0,0,0,0,0,0
3424,2017-04-24 00:00:00,73.9,73.95,73.45,73.65,12,92,-80,0,0,0,0,0,0,0,0
3425,2017-04-25 00:00:00,73.85,74.4,73.7,74.35,8,88,-80,0,0,0,0,0,0,0,0
3426,2017-04-26 00:00:00,74.7,74.7,74.4,74.55,4,84,-80,0,0,0,0,0,0,0,0
3427,2017-04-27 00:00:00,74.35,74.5,74.15,74.5,0,80,-80,0,0,0,0,0,0,0,0